/*
COLOR PALETTE
http://www.colourlovers.com/palette/3246555/Forest_Walk

Pimento
  C4C746
  HEX
  196,199,70
  RGB

Forest Green
  505A15
  HEX
  80,90,21
  RGB

Olive
  B8BB54
  HEX
  184,187,84
  RGB

Earthy Brown
  644729
  HEX
  100,71,41
  RGB

Tan
  B39C72
  HEX
  179,156,114
  RGB

FONT
  Silom
  Capriola
  <link href='http://fonts.googleapis.com/css?family=Capriola' rel='stylesheet' type='text/css'>

Thanks for Hongkiat.com for the nice guide to creating
a responsive navbar
http://www.hongkiat.com/blog/responsive-web-nav/

*/
body {
  background: #B8BB54;
  color: #575757;
  font-family: 'Tenor Sans', sans-serif;
}

p {
  color: #575757;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: #575757;
  font-weight: bold;
}

a:hover {
  color: white;
}

.tags span {
  border-radius: 5px;
  background-color: #C4C746;
  -moz-box-shadow:inset 0px 0px 10px #644729;
  -webkit-box-shadow:inset 0px 0px 10px #644729;
  box-shadow:inset 0px 0px 10px #644729;
  margin: 2px;
  padding: 7px;
}

div.tags {
  margin-bottom: 10px;
}

blockquote p {
  color: #644729;
}

pre { 
  margin: 0 5% 10px 2%;
  padding: 5px; 
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  overflow: hidden;
}

pre:hover {
  overflow: auto;
}

p a, #hire_me a, #hire_me li {
  color: white;
}

p a:hover, #hire_me a:hover {
  color: #644729;
}

#hire_me ul {
  margin-left: 5%;
}

.content pre code {
  font-family: 'Inconsolata', sans-serif;
}

#header {
  width: 100%;
}

#header div {
  width: 100%;
  height: 100px;
  display: block;
}

#header .logo {
  margin-top: .5em;
  margin-left: 3em;
  float: left;
  display: inline-block;
}

h5 {
  color: #575757;
  padding: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
  display: inline-block;
}

strong {
  font-weight: bold;
}

nav {
  height: 40px;  
  font-weight: bold;
  background: #644729;
  -moz-box-shadow:inset 0px 0px 10px #B39C72;
  -webkit-box-shadow:inset 0px 0px 10px #B39C72;
  box-shadow:inset 0px 0px 10px #B39C72;
  max-width: 1000px;
  margin: auto;  
  border-radius: 10px;
}

nav ul {
  padding: 0;  
  height: 40px;
  margin: 0 auto;
  position: relative;
  display: inline-block;
  width: 100%;
}

nav li {
  color: #B39C72;
  font-size: .75em;
  display: inline;
  float: left;
  margin-left: 1.25em;
}

nav li.right{
  margin-right: 1.25em;
}

nav a { 
  display: inline-block; 
  text-align: center;  
  text-decoration: none;  
  line-height: 40px; 
} 

nav li a {  
    box-sizing:border-box;  
    -moz-box-sizing:border-box;  
    -webkit-box-sizing:border-box;
    color: white;  
}  

nav li:last-child a {  
    border-right: 0;  
}

nav a:hover, nav a:active {  
    color: #C4C746;  
}

nav a.pull {  
    display: none;  
}

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
.clearfix {  
    *zoom: 1;  
} 

@media screen and (max-width: 600px) {
  #header h5 {
    display: none;
  }
  nav {
    height: auto;
  }
  nav ul {
    width: 100%;
    display: block;
    height: ;
  }
  nav li, li.right {
    width: 50%;
    float: left;
    position: relative;
    margin-bottom: 0;
  }
  nav a {
    text-align: left;
    width: 100%;
    text-indent: 25px;
  }
}

@media only screen and (max-width: 480px) {
  nav {
    border-bottom: 0;
  }
  nav ul {
    display: none;
    height: auto;
  }
  nav a.pull {
    display: block;
    width: 100%;
    position: relative;
  }
  nav a.pull:after {
    content:"";
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 10px;
  }
}

nav a.pull {
  border-radius: 10px;
  border: 1px solid #B8BB54;
}

/* thanks Bootstrap! */
.icon-bar{
  display: block;
  width: 36px;
  height: 4px;
  border-radius: 2px;
  margin: 5px;
  background: #C4C746;
  margin-left: auto;
  margin-right: 20px;
}

.right {
  float: right;
}

.left {
  float: left;
}

#recent-articles {
  float: right;
  margin-top: 1em;
}

h3, h4 {
  color: white;
  text-shadow: 1px 1px 1px #505A15;
}

#recent-articles a{
  text-decoration: none;
  font-weight: bold;
  color: #575757;
}

#recent-articles a:hover, #recent-articles a:active {
  color: white;
}

.content {
  float: right;
  margin-top: 1em;
}

h2, h3 {
  color: white;
  text-shadow: 1px 1px 1px #505A15;
}

#snippets {
  margin: auto;  
  display: block;
}

#snippets ul {
  padding: 0;  
  margin: 0 auto;
  position: relative;
  display: inline-block;
}

#snippets li {
  color: #B39C72;
  font-size: .75em;
  float: left;
  margin-left: .25em;
  width: 100%;
}

#snippets li h5 {
  padding: .25em;
  max-height: 40px;
  overflow: hidden;
}

#snippets li a {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 1px #505A15;
}

#snippets li a.link:hover {
  color: #575757;
  text-shadow: 1px 1px 1px white;
}

#snippets p {
  margin-right: 5%;
}

#footer p {
  color: #644729;
  margin-right: 3%;
}

#about_me img {
  margin: 0px 0px 10px 10px;
}




