<h3>Looking for a JavaScript developer?</h3>
<p>If you&#39;re looking for a full-stack JavaScript developer, you&#39;ve come to the right place. I&#39;m currently available for contracting and full-time employment. I have experience with the following technologies:</p>
<div id="hire_me">
  <ul>
    <li>Node.js</li>
    <li>Ember.js</li>
    <li>Handlebars.js</li>
    <li>Backbone.js</li>
    <li>Grunt</li>
    <li>MongoDB</li>
    <li>PostgreSQL</li>
    <li>And much more...</li>
  </ul>
  <p>Feel free to contact me for more information and check on my online presence:</p>
  <ul>
    <li><a href="http://www.linkedin.com/pub/matt-merkes/45/4ab/564">LinkedIn</a></li>
    <li><a href="https://twitter.com/mattmerkes">Twitter</a></li>
    <li><a href="https://github.com/mmerkes">GitHub</a></li>
    <li><a href="http://stackoverflow.com/users/2802626/emptyarsenal">Stack Overflow</a></li>
  </ul>
</div>
