<div class="container">
<div class="content two-thirds column">

  {{outlet}}

</div>

<div id="recent-articles" class="one-third column">
<div id="about_me">
    <h3>About Me</h3>
    <img src="images/profile_pic.jpg" alt="A handsome devel" class="img-rounded profile" align="right"> 
    <p>Hi there, my name is Matt Merkes, and I&#39;m a full-stack JavaScript developer who loves playing around with Node, front-end frameworks, and educating people about JavaScript. I'm based out of Seattle, WA, and I have a soft spot in my heart for the aspiring noob.</p>
  </div>
  <hr>
  <h3>Recent articles:</h3>
  <ul>
    {{#each post in controller}}
      {{#link-to 'post' post tagName="li"}} 
        <a href="#post">{{post.title}}</a>
      {{/link-to}}
    {{/each}}
  </ul>  
</div>
</div>
<div id="footer" class="sixteen columns">
<hr />
<p class="right">&copy; Matt Merkes</p>
</div>
